@import "compass";
/*
div{
  @include inline-block;
  @include border-radius(4px, 4px);
  @include opacity(.7);
}
*/

$imgpath : '../img/';

/***********************************************************************
壁紙
***********************************************************************/
@mixin wallpaper($type, $size, $bg){
	@if $type == 'img'{
		background-image:url($imgpath+$bg);
	}@elseif $type == 'color'{
		background:$bg;
	}@else{
		background:white;
	}

	@if $size == 1{
		width:70%;
		height:100px;
		margin:40px auto;
		border-radius:10px;
	}@elseif $size == 2{
		width:40%;
		height:60px;
		left:-40%;
		margin:20px auto;
	}@elseif $size == 3{
		width:40%;
		height:30px;
		left:-40%;
		margin:20px auto;
		font{
			text-align:center;
			position:relative;
			top:20px;
		}
	}
	
	h2{
		text-align:center;
		position:relative;
		top:40px;
	}
	h3{
		text-align:center;
		position:relative;
		top:20px;
	}
	
}

.bg_green {
	@include wallpaper('img', 1, 'green_cup.png');
	font-size:16px;
	padding:10px 30px 10px 30px;
	border-radius:5px;
	position:relative;
	
}
.bg_paper {
	@include wallpaper('img', 2, 'paper.png');
}
.bg_white3 {
	@include wallpaper('color', 3, white);
}

/***********************************************************************
付箋(大)
***********************************************************************/

@mixin fusen_big($type, $bg){
	@if $type == 'img'{
		background-image:url($imgpath+$bg);
	}@elseif $type == 'color'{
		background:$bg;
	}
	margin:0 auto;
	width:80%;
	
	font-size: 14px;
	text-shadow: -1px 1px 0 rgba(255, 255, 255, .4);
	
	border-radius:5px;
	padding:10px 30px 10px 10px;
	box-shadow: 0 2px 3px 0px #777;
	
	left {
		transform:rotate(-1deg);
	}
	right {
		transform:rotate(1deg);
	}
}

.fu_paper {
	@include fusen_big('img', 'lined_paper.png');
}
.fu_paper2 {
	@include fusen_big('img','ricepaper.png');
}
.fu_paper3 {
	@include fusen_big('img','matome/white_paperboard.png');
	}
.fu_pink {
	@include fusen_big('color',pink);
}
.fu_DarkSeaGreen {
	@include fusen_big('color',DarkSeaGreen);
}
.fu_Khaki {
	@include fusen_big('color',Khaki);
}
.fu_Lavender {
	@include fusen_big('color',Lavender);
}
.fu_MistyRose {
	@include fusen_big('color',MistyRose);
}
.fu_PeachPuff {
	@include fusen_big('color',PeachPuff);
}
.fu_Bisque {
	@include fusen_big('color',Bisque);
}
.fu_AliceBlue {
	@include fusen_big('color',AliceBlue);
}
.fu_GhostWhite {
	@include fusen_big('color',GhostWhite);
}


/***********************************************************************
付箋(タイトル)
***********************************************************************/
@mixin fusen_title($type, $bg){
	width:70%;
	height:50px;
	background:#FFF;
	margin:40px auto;
	padding:10px;
	
 	text-align:center;
	font-size:18px;
	text-shadow: 1px -1px 0 rgba(0, 0, 0, .1);
	
	@if $type == 'img'{
		background-image:url($imgpath+$bg);
	}@if $type == 'color'{
		background:$bg;
	}@else{
		background:white;
	}
	
	position: relative;
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	
	&:before,
	&:after
	{
		content:"";
	    position:absolute;
		z-index:-1;
		box-shadow:0 0 20px rgba(0,0,0,0.8);
		top:50%;
		bottom:0;
		left:10px;
		right:10px;
		border-radius:100px / 10px;
	}
	
}

.title_white{
	@include fusen_title('color', 'white')
}


/***********************************************************************
付箋(小)
***********************************************************************/
@mixin fusen_min($type, $bg){
	width:40%;
	height:30px;
	left:-40%;
	margin:20px auto;
	
	@if $type == 'img'{
		background-image:url($imgpath+$bg);
	}@if $type == 'color'{
		background:$bg;
	}@else{
		background:white;
	}
	
	position:relative;
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
	
	&:before,
	&:after
	{
		content:"";
		position:absolute;
		z-index:-1;
		box-shadow:0 0 20px rgba(0,0,0,0.9);
		border-radius:100px / 20px;
		top:50%;
		bottom:0;
		left:10px;
		right:10px;
	}
}

.fus_red{
	@include fusen_min('color', red);
}
.fus_green{
	@include fusen_min('color', green);
}
.fus_blue{
	@include fusen_min('color', blue);
}
.fus_yellow{
	@include fusen_min('color', yellow);
}
.fus_Fuchsia{
	@include fusen_min('color', Fuchsia);
}



//<div class="box3 effect6s" style="background-color:red;"></div>
					